<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <p>Bonjour <%=name%> !</p>
    <a href='/'>Page d'acceuil</a>
    <% if (isAdmin == true) { %>
    <a id="adminRoute" href="/admin">Page admin</a>
    <% } %>
    <a href="/profile/disconnect">Se déconnecter</a>
</body>
<script>
    // Récupérer la variable `name` depuis les données EJS
    const name = "<%=name%>";
    const isAdmin = "<%=isAdmin%>"
</script>

</html>