<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <p>Bonjour <%=name%> !</p>
    <a href='/'>Page d'acceuil</a>
    <a id="adminRoute" href="/admin">Page admin</a>
    <a href="/profile/disconnect">Se déconnecter</a>
</body>
<script>
    const adminRoute = document.getElementById("adminRoute");

    // Récupérer la variable `name` depuis les données EJS
    const name = "<%=name%>";

    if (name !== "Admin") {
        adminRoute.style.display = "none"; // Bonne syntaxe pour masquer l'élément
    }
</script>

</html>