<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <p>Bonjour <%=name%> !</p>
    <a href='/homepage?username=<%=name%>'>Page d'acceuil</a>
</body>
</html>